*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

ul {
    list-style-type: none;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    color: white;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
  }

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

.navbar a {
    color:white;
    text-decoration: none;
  }

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.image img {
    width:370px;
    max-height: 300px;
    height:auto;
    width:auto;
    margin-left: 5px;
}

.hero {
    background-color:#1f2937;
    color: #fff;
    min-height: 400px;
  }

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    font-size: 12px;
    padding: 8px 18px;
    margin-top: 10px;
    font-weight: bold;
}

.container .text {
    margin-right: 5px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    margin: 20px 10px;
}

.box p {
    text-align: center;
}

.inf {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf h1 {
    text-align: center;
    padding-top: 30px;
}

.boxes img {
    border: 5px solid #3882f6;
    border-radius: 15px;
    height:auto;
    width:auto;
    max-width: 150px;
}

.quote-container {
    background-color:#e5e7eb;
    min-height: 250px;
    max-height: 300px;
}

.quote {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.quote p1{
    padding-top: 30px;
}

.quote p2{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.action-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.action {
    color: white;
    background-color: #3882F6;
    max-width: 700px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 40px 80px;
}

.action button {
    border: 2px solid white;
    width: 100px;
    height: 40px;
}